@{
    ViewData["Title"] = "Home";
}

<div class="card">
    <div class="card-body">
        <h5 class="card-title">File To PNG Encoder/Decoder</h5>
        <p class="card-text">A simple application to convert arbitrary files to PNG images and back.</p>
        <input type="file" />
        <button type="button" class="btn btn-primary">Encode</button>
        <button type="button" class="btn btn-primary">Decode</button>
        @*On encode, show picture to the right and download. Clear input when complete
        On decode, just download. Clear input when complete*@
    </div>
</div>
